.tags{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;

}
.tag{
    display: flex;
    height: 1.5rem;
    background-color: $primary-color;
    border-radius: 8px;
    &__text{
        align-self: center;
        padding-inline: 2rem;
        color: white;
    }
}

@media screen and (max-width: 768px){
    .tag{
    border-radius: 5px;
    }
}