.about{
    display:flex;
    flex-direction: column;  
    gap: 2rem;
    margin: 3rem 8rem 3rem 8rem;
    }
.collapse{
    width:100%;
}
.banner{
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
    .about{
        margin: 3rem 2rem 3rem 2rem;
        }
}