.cards_container {
    padding: 3rem 2rem;
    border-radius: 25px 25px 0 0;
    background-color: rgb(235, 235, 235);
    margin-top: 3rem;
    .cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
        margin: 0 auto;

        .card {
            width: 30%;
            height: 20rem;
            border-radius: 20px;

            &:hover {
                box-shadow: 0px 3px 0.5rem rgb(0 0 0 / 50%);
                transform: scale(1.01);
            }

            a {
                text-decoration: none
            }

            &_img {
                display: flex;
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                filter: brightness(0.9);
            }

            &_title {
                position: relative;
                margin-top: -4rem;
                width: 100%;

                h2 {
                    font-size: 17px;
                    color: white;
                    padding: 0.5rem;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .cards_container{
        padding: 0;
        background-color: white;
        margin-bottom: 3rem;
     .cont .card {
        width: 100%;
        &_img{
            border-radius: 10px;
        }
        &_title{
            width: 75%;
        }
    }
}
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .cards_container .cont .card {
        width: 100%;
    }
}
