.button_container{
    border: solid;
    background-color: $primary-color;
    width: 10rem;
    height: 2rem;
}
.collapse_content{
    width: 10rem;
    height: 30rem;
}
.bottomArrow{
    color:black;
}