header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-inline: 5rem;
    .logo {
        width: auto;
        height: 47px;
    }

    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 2rem;

        a {
            text-decoration: none;

            :hover {
                text-decoration: underline;
            }
        }

        li {
            padding-inline: 15px;
            list-style: none;
            color: $primary-color;
            font-size: 20px;
        }
    }
}