@import "sass/variables";
@import "components/header/header";
@import "pages/home/home";
@import "components/footer/footer";
@import "pages/404/error";
@import "pages/housing/housing";

#root{
    max-width: 1440px;
    margin:auto;
}
.App{
    margin-inline: 5rem;
    
}