.banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    img {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: 12rem;
        filter: brightness(0.7);
    }

    &_text {
        font-size: 40px;
        position: absolute;
        color: white;
    }
}

@media screen and (max-width: 767px){
    .banner_text {
        padding-inline: 3rem;
        font-size: 28px;
    }
    .banner img{
        border-radius: 10px;
        height: 7rem;
    }
}